@import "../libs/variables";

.dropdown{
    $self: &;
    position: relative;
    display: flex;
    align-items: center;
    
    @media (max-width: 395px) {
        position: static;
    }

    &.profile{
        #{$self}__menu{
            min-width: 180px;
            left:auto;
            right: 0;
        }
    }

    &__title{
        font-weight: 600;
        font-size: .875rem;
        line-height: 1.5;
        color: #fff;
        text-transform: uppercase;
        white-space: nowrap;
        margin-right: 15px;
        cursor: pointer;

        @media(max-width: $md4 + px){
            font-size: .8rem;
        }
    }

    &__menu{
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top:150%;
        left:0;
        background-color: #fff;
        min-width: 300px;
        padding:7px 0;
        border:1px solid rgba(0,0,0,.1);
        z-index: 100;
        transition: all .4s;

        @media (max-width: 395px) {
            top:100%;
            min-width: auto;
            width: 96%;
            left:2%;
            right:2%;
        }

        &._active{
            opacity: 1;
            visibility: visible;
        }
    }

    &__item{
        padding:10px 15px;
        transition: all .3s;
        text-transform: capitalize;
        cursor: pointer;
        
        @media(min-width: 992px) {
            &:hover{
                background-color: #7510F4;
                color:#fff;
            }
            
            &:hover #{$self}__link{
                color:#fff;
            }
        }
    }

    &__link{
        color:#000;
    }
    
    
    span.anticon-down{
        font-size: 14px;
        position: relative;
        top: 1px;

        svg{
            transition: .3s transform;
        }

        &.rotate svg{
            transform: rotate(-180deg);
        }
    }

    span.anticon-user{
        font-size: 18px;
        position: relative;
        top:1px;
    }

    span.text{
        @media(max-width: 600px){
            display: none;;
        }
    }
}