@import "../libs/variables";

.search{
    display: flex;
    align-items: center;

    svg{
        font-size: 20px;
    }

    span.ant-input-group input{
        height: 32px;
    }

    & .search-input{
       opacity: 0;
       visibility: hidden;
       transition: all .4s;
       max-width: 0;
       overflow: hidden;

        &._active{
            opacity: 1;
            visibility:visible;
            max-width: 230px;
        }

        @media(max-width: $md3 + px){
            position: absolute;
            left: 15px;
            right:15px;
            z-index: 500;
            top:11px;

            &._active{
                max-width: calc(100% - 30px);
            }
       }
    }

    span.search-icon{
        svg{
            color:#fff;
        }
    }
}