@import "../libs/variables";

.search{
    display: flex;
    align-items: center;

    svg{
        font-size: 20px;
    }

    span.ant-input-group input{
        height: 32px;
    }

    & .search-input{
       opacity: 0;
       transform: translateX(-120px);
       visibility: hidden;
       transition: all .4s;
        
        &._active{
            opacity: 1;
            transform: translateX(0);
            visibility:visible;
        }

        @media(max-width: $md3 + px){
            position: absolute;
            left: 15px;
            right:15px;
            width: calc(100% - 30px);
            z-index: 500;
            top:11px;
       }
    }

    span.search-icon{
        svg{
            color:#fff;
        }
    }
}