@import "./libs/variables";
@import "./libs/null";
@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body {
	color: #000;
    font-size: 14px;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    
	&._lock {
		overflow: hidden;
	}
}

#root{
    height: 100%;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 20px;
}

.page {
	flex: 1 1 auto;
}

.mybutton{
    background: linear-gradient(135deg,#FD9A05,#7510F4);
    color:#fff;
    border: none;
    transition: all .5s;
    
    
    &:hover, &:active, &:focus{
        background: linear-gradient(135deg,#fd9a05e1,#7710f4e8);
        color:#fff;
        border:none;
    }

    &:disabled, &:disabled:hover{
        background: linear-gradient(135deg,#fd9a05ab,#7710f4c0);
        color:#fff;
        border:none;
    }

    &_lg{
        width: 150px;
        height: 35px;
    }
}